@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
    --light-color: #fffcf2;
    --medium-color: #ccc5b9;
    --dark-color: #1a0af0;
    --darkest-color: #f0eadd;
    --accent-color: #eb5e28;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Crimson Text", serif;
}
img {
    object-fit: cover;
}

html,
body {
    font-family: "Crimson Text", serif;
    background-color: var(--darkest-color);
    color: var(--light-color);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
